In [2]:
import pandas as pd

#Load the CSV file into a DataFrame
df = pd.read_csv('Customer_Feedback_Data.csv') 
df.head()

   Customer_ID  Satisfaction_Score  Feedback_Comments  Likelihood_to_Recommend
0            1                10.0     Very satisfied                        9
1            2                 3.0     Very satisfied                        3
2            3                10.0     Very satisfied                        1
3            4                 7.0  Needs improvement                        4
4            5                 8.0     Unsatisfactory                        7

In [3]:
#Identify null values
df.isna().all()

Customer_ID                False
Satisfaction_Score         False
Feedback_Comments          False
Likelihood_to_Recommend    False
dtype: bool

In [4]:
#Check data types
df.dtypes

Customer_ID                  int64
Satisfaction_Score         float64
Feedback_Comments           object
Likelihood_to_Recommend      int64
dtype: object

In [7]:
#Change data type for Customer_ID to string as this might be considered to be a numerical value that should be computed
df['Customer_ID']=df['Customer_ID'].astype('str')

In [8]:
df.dtypes

Customer_ID                 object
Satisfaction_Score         float64
Feedback_Comments           object
Likelihood_to_Recommend      int64
dtype: object

In [9]:
#df = pd.DataFrame(data)

# Total number of survey respondents
total_respondents = df['Customer_ID'].nunique()

# Average satisfaction score
average_satisfaction = df['Satisfaction_Score'].mean()

# Customer sentiment (count of feedback comments)
feedback_count = df['Feedback_Comments'].notna().sum()

# Likelihood to recommend (average score)
average_likelihood_to_recommend = df['Likelihood_to_Recommend'].mean()

# Print the results
print(f"Total number of survey respondents: {total_respondents}")
print(f"Average Satisfaction Score: {average_satisfaction:.2f}")
print(f"Number of feedback comments: {feedback_count}")
print(f"Average Likelihood to Recommend: {average_likelihood_to_recommend:.2f}")

Total number of survey respondents: 1000
Average Satisfaction Score: 5.68
Number of feedback comments: 5050
Average Likelihood to Recommend: 5.57

In [10]:
df = df.rename(columns = {'Satisfaction_Score':'NPS','Feedback_Comments':'OSAT'})

In [11]:
df.head()

  Customer_ID   NPS               OSAT  Likelihood_to_Recommend
0           1  10.0     Very satisfied                        9
1           2   3.0     Very satisfied                        3
2           3  10.0     Very satisfied                        1
3           4   7.0  Needs improvement                        4
4           5   8.0     Unsatisfactory                        7

In [13]:
# Get unique values from the 'Category' column
unique_values = df['OSAT'].unique()
print(unique_values)

['Very satisfied' 'Needs improvement' 'Unsatisfactory' 'Good service'
 'Excellent']

In [14]:
osat_mapping = {
    'Excellent': 5,
    'Very satisfied': 4,
    'Good service': 3,
    'Needs improvement': 2,
    'Unsatisfactory': 1
}

# Apply the mapping to the OSAT column
df['OSAT_Score'] = df['OSAT'].map(osat_mapping)

# Display the updated DataFrame
print(df)

     Customer_ID   NPS               OSAT  Likelihood_to_Recommend  OSAT_Score
0              1  10.0     Very satisfied                        9           4
1              2   3.0     Very satisfied                        3           4
2              3  10.0     Very satisfied                        1           4
3              4   7.0  Needs improvement                        4           2
4              5   8.0     Unsatisfactory                        7           1
...          ...   ...                ...                      ...         ...
5045         757   9.0       Good service                        3           3
5046         969   2.0     Unsatisfactory                        2           1
5047         248   4.0       Good service                        3           3
5048          58   4.0     Unsatisfactory                       10           1
5049         635   4.0     Very satisfied                        6           4

[5050 rows x 5 columns]

In [19]:
#df = pd.DataFrame(data)

# Total number of survey respondents (unique Customer_ID)
total_respondents = df['Customer_ID'].nunique()

# Average NPS (formerly Satisfaction_Score)
average_satisfaction = df['NPS'].mean()

# Customer sentiment (count of feedback comments)
average_osat = df['OSAT_Score'].mean()

# Categorize respondents into Promoters, Passives, and Detractors
def categorize_nps(score):
    if score >= 9:
        return 'Promoter'
    elif score >= 7:
        return 'Passive'
    else:
        return 'Detractor'

df['NPS_Category'] = df['Likelihood_to_Recommend'].apply(categorize_nps)

# Calculate NPS
nps_counts = df['NPS_Category'].value_counts()
promoters = nps_counts.get('Promoter', 0)
detractors = nps_counts.get('Detractor', 0)
total_respondents = len(df)

nps = ((promoters - detractors) / total_respondents) * 100

# Print the results
print(f"Total number of survey respondents: {total_respondents}")
print(f"Average Satisfaction Score: {average_satisfaction:.2f}")
print(f"Average Overall Satisfaction: {average_osat:.2f}")
print(f"Average Likelihood to Recommend: {nps:.2f}")

Total number of survey respondents: 5050
Average Satisfaction Score: 5.68
Average Overall Satisfaction: 2.79
Average Likelihood to Recommend: -38.02

In [18]:
value_counts = df['OSAT'].value_counts()
print(value_counts)

OSAT
Good service         1519
Needs improvement    1044
Very satisfied       1015
Unsatisfactory        988
Excellent             484
Name: count, dtype: int64

In [20]:
value_counts = df['Likelihood_to_Recommend'].value_counts()
print(value_counts)

Likelihood_to_Recommend
10    541
4     540
7     530
9     514
2     506
6     494
8     490
5     484
3     481
1     470
Name: count, dtype: int64