In [1]:
print ('Hello World!')

Hello World!

In [2]:
import csv

with open('nutrition_data.csv', 'r') as file:
    reader = csv.reader(file)
    num_rows = sum(1 for row in reader)

print("Number of rows:", num_rows)

Number of rows: 106

In [7]:
import pandas as pd

# Step 1: Load the CSV file into a DataFrame
df = pd.read_csv('nutrition_data.csv')  # Replace 'your_file.csv' with the path to your CSV file

# Step 2: Use head() to display the first few rows
#print(df.head())  # Displays the first 5 rows by default

# Optionally, specify the number of rows to display
print(df.head(10))  # Displays the first 10 rows

        food_item  calories  protein  carbs  fats  meal_time
0           Apple      95.0      0.5   25.0   0.3  Breakfast
1          Banana     105.0      1.3   27.0   0.4      Snack
2  Chicken Breast     165.0     31.0    0.0   3.6      Lunch
3           Steak     679.0     62.0    0.0  48.0     Dinner
4           Salad     150.0      2.0   15.0   7.0      Lunch
5           Pizza       NaN     12.0   36.0  10.0     Dinner
6            Rice     206.0      4.3   45.0   0.5      Lunch
7            Fish     232.0     26.0    0.0   5.0     Dinner
8          Yogurt      59.0     10.0   12.0   0.4      Snack
9           Pasta     131.0      5.0   25.0   1.1      Lunch

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   food_item  105 non-null    object
 1   calories   103 non-null    float64
 2   protein    104 non-null    float64
 3   carbs      104 non-null    float64
 4   fats       105 non-null    float64
 5   meal_time  105 non-null    object
dtypes: float64(4), object(2)
memory usage: 5.1+ KB

In [10]:
df.isnull().sum()

food_item    0
calories     2
protein      1
carbs        1
fats         0
meal_time    0
dtype: int64

In [13]:
df.isnull().any()

food_item    False
calories      True
protein       True
carbs         True
fats         False
meal_time    False
dtype: bool

In [14]:
  # One-hot encoding the meal_time column
df_transformed = pd.get_dummies(df, columns=['meal_time'], drop_first=True)

In [15]:
df_transformed.head()

,food_item,calories,protein,carbs,fats,meal_time_Dinner,meal_time_Lunch,meal_time_Snack
0,Apple,95.0,0.5,25.0,0.3,False,False,False
1,Banana,105.0,1.3,27.0,0.4,False,False,True
2,Chicken Breast,165.0,31.0,0.0,3.6,False,True,False
3,Steak,679.0,62.0,0.0,48.0,True,False,False
4,Salad,150.0,2.0,15.0,7.0,False,True,False

In [16]:
# Calorie-to-protein ratio
df_transformed['calorie_protein_ratio'] = df_transformed['calories'] / (df_transformed['protein'] + 1e-6)  
# Avoid division by zero

In [17]:
# Calorie density feature (calories per total grams of macronutrients)
df_transformed['calorie_density'] = df_transformed['calories'] / (df_transformed['carbs'] + df_transformed['fats'] + df_transformed['protein'] + 1e-6)

In [18]:
# Display the new features
df_transformed[['calories', 'protein', 'calorie_protein_ratio', 'calorie_density']].head()

   calories  protein  calorie_protein_ratio  calorie_density
0      95.0      0.5             189.999620         3.682170
1     105.0      1.3              80.769169         3.658536
2     165.0     31.0               5.322580         4.768786
3     679.0     62.0              10.951613         6.172727
4     150.0      2.0              74.999963         6.250000

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Selecting numerical columns to normalize
numerical_cols = ['calories', 'protein', 'carbs', 'fats', 'calorie_protein_ratio', 'calorie_density']

In [20]:
# Initialize the Min-Max Scaler
scaler = MinMaxScaler()

In [21]:
# Apply the scaler to the numerical columns
df_transformed[numerical_cols] = scaler.fit_transform(df_transformed[numerical_cols])

In [22]:
# Display the normalized data
df_transformed[numerical_cols].head()

,calories,protein,carbs,fats,calorie_protein_ratio,calorie_density
0,0.198903,0.000000,0.555556,0.000000,1.000000,0.544485
1,0.212620,0.002671,0.600000,0.002096,0.437439,0.541653
2,0.294925,0.101836,0.000000,0.069182,0.048872,0.674682
3,1.000000,0.205342,0.000000,1.000000,0.077863,0.842900
4,0.274348,0.005008,0.333333,0.140461,0.407726,0.852159